@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    background-color: white;
    font-size: 16px;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #4a4a4a;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}